body {
    font-weight: bold;
}
input, textarea {
    width: 100%;
}

td {
    padding: 10px;
}

form {
    width: fit-content;
}

.td2 {
    width: 90px;
    text-align: center;
    border: 2px solid;
}

.table2 {
    width: 360px;
    height: 200px;
    border-collapse: collapse;
}

fieldset {
    border-radius: 10px;
}

.required-asterisk {
    color: black;
}
